body,input,textarea,select,button{font-size:13pt;line-height:1.75em;}
h2{font-size:1.5em;}
h3{font-size:1.35em;}
header{margin:0 0 1.5em 0;}
header > p{margin:0.5em 0 0 0;padding-bottom:0.5em;}
header.major{margin:0 0 2em 0;}
footer{margin:2.25em 0 0 0;}
.box{padding:1em 1em 1em 1em;}
.box .image.featured{left:2.5em;top:2.75em;margin:-4.5em 0 1.25em -3.5em;}
.box.post{padding:0.75em 1.75em 1.25em 1.75em;}
.box.post header{padding-top:0em;margin:0 0 2em 0;}
.box.post h2{font-size:2.0em;letter-spacing:-0.015em;}
.box.post header > p{margin-top:0.75em;margin-bottom:0.5em;font-size:1.25em;}
input[type="button"],input[type="submit"],input[type="reset"],.button,button{font-size:1.1em;padding:0.65em 1.5em 0.65em 1.5em;}
input[type="button"].big,input[type="submit"].big,input[type="reset"].big,.button.big,{font-size:1.5em;padding:0.75em 1.5em 0.75em 1.5em;}
ul.actions{}
ul.actions li{display:inline-block;margin-left:1em;}
ul.actions li:first-child{margin-left:0;}
ul.links{}
ul.links li{display:inline-block;border-left:solid 1px rgba(255,255,255,0.05);padding:0 0 0 1em;margin:0 0 0 1em;}
ul.links li:first-child{border-left:0;padding-left:0;margin-left:0;}
ul.social{margin:0 0 3.25em 0;}
ul.social li{margin-left:0.75em;}

#header-wrapper{background:url('../images/banner.jpg') repeat-x scroll top center / 1200px auto #ffffff;padding:1.5em 0 1.5em 0;}
#main-wrapper{position:absolute;top:152px;padding:1.5em 0 5em 0;}
#footer-wrapper{padding:0.5em 0 0.15em 0;}
#footer-wrapper header{margin:0 0 3em 0;}
#footer-wrapper header h2{font-size:1.75em;-webkit-backface-visibility: hidden;-webkit-transform: translateZ(0);}
#bulb, #bulb img,#twitter, #twitter img {width: 40px; height: 40px;}

#header{text-align:center;}
#header h1{color:#ffffff;font-size:2.5em;letter-spacing:-0.035em;margin:0 0 0.75em 0;}

#nav{padding-top:0.75em;}
#nav > ul{margin:0 0 -0.4em 0;}
#nav > ul > li > ul{display:none;}
#nav > ul > li{display:inline-block;font-style:italic;margin:0 0.35em 0 0.35em;}
#nav > ul > li > a{border-radius:5px;color:#5d5d5d;text-decoration:none;padding:0.6em 1.2em 0.6em 1.2em;-moz-transition:background-color .25s ease-in-out;-webkit-transition:background-color .25s ease-in-out;-o-transition:background-color .25s ease-in-out;-ms-transition:background-color .25s ease-in-out;transition:background-color .25s ease-in-out;outline:0;}
#nav > ul > li{}
#nav > ul > li > a{background:#f3f3f3;}
#nav > ul > li.active{}
#nav > ul > li.active > a{background:#f3f3f3;}
#nav > ul > li.current{}
#nav > ul > li.current > a{background:#4923a0;color:#fff !important;font-weight:700;}
.dropotron{border-radius:5px;background-color:#252122;background-color:rgba(34,30,31,0.98);padding:1.25em 1.5em 1.25em 1.5em;font-style:italic;min-width:13em;box-shadow:0px 8px 15px 0px rgba(0,0,0,0.5);text-align:left;margin-top:-1.25em;margin-left:-1px;}
.dropotron a,.dropotron span{color:#aaa;text-decoration:none;-moz-transition:color .25s ease-in-out;-webkit-transition:color .25s ease-in-out;-o-transition:color .25s ease-in-out;-ms-transition:color .25s ease-in-out;transition:color .25s ease-in-out;}
.dropotron li{padding:0.25em 0 0.25em 0;}
.dropotron li:hover > a,.dropotron li:hover >span{color:#fff;}
.dropotron.level-0{margin-top:2em;}
.dropotron.level-0:before{content:'';display:block;position:absolute;left:50%;margin-left:-10px;top:-9px;border-left:solid 10px transparent;border-right:solid 10px transparent;border-bottom:solid 10px #252122;border-bottom-color:rgba(34,30,31,0.98);}

#banner{position:relative;padding:1em 0 3em 0;margin:0 0 1.75em 0;}
#banner header{display:inline-block;padding:2.5em 5em;}
#banner header h2{font-size:2.5em;margin:0 0 0.65em 0;}
#banner header p{font-size:1.5em;}

#footer{}

#main{}

#intro{overflow:hidden;}
#intro section{margin:3em 0;padding:2.5em 0;}
#intro h2{font-size:1.75em;}
#intro p{margin:0;}
#intro .middle{position:relative;z-index:1;}
#intro .middle:before{content:'';width:32px;height:100%;position:absolute;left:-24px;top:0;display:block;z-index:-1;box-shadow:32px 0 0 0 #fff,0 -32px 0 0 #fff,0 32px 0 0 #fff,32px 32px 0 0 #fff,32px -32px 0 0 #fff,0 0 32px 0 rgba(0,0,0,0.15);}
#intro .middle:after{content:'';width:32px;height:100%;position:absolute;right:-24px;top:0;display:block;z-index:-1;box-shadow:-32px 0 0 0 #fff,0 -32px 0 0 #fff,0 32px 0 0 #fff,-32px 32px 0 0 #fff,-32px -32px 0 0 #fff,0 0 32px 0 rgba(0,0,0,0.15);}
#intro .button{min-width:12em;}
#intro footer{margin:0;}

#copyright{margin:0;}
#copyright .links{padding:0.85em 2.25em 0.85em 2.25em;}

/* PS */
#sidebar header{margin:1.75em 0 1.5em 0;}
.image.featured img{width:367px;margin-top:1.25em;}
.image.featured.challenge img{width:367px;margin-top:0.75em;}
.eggTitle{top:50px;font-size:3.5em;font-weight:bold;color:#000000;}
.eggDay{top:60px;font-size:1.2em;font-weight:bold;}
.eggTime{top:54px;font-size:1.0em;}
.eggPoints{top:48px;font-size:1.0em;}